.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 50vh;
}

.container {
  display: flex;
  flex-direction: column;
}

.map-container {
  flex: 1;
}

.content {
  flex: 1;
  padding: 20px;
}
.save-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.download-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.save-button:hover {
  background-color: #0056b3;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  margin-top: 20px;
  margin-bottom: 20px;
}

.data-table th,
.data-table td {
  padding: 10px;
  text-align: left;
}

.data-table th {
  background-color: #f2f2f2;
}

.delete-button {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-button i {
  margin-right: 5px;
}

.delete-button:hover {
  background-color: #c82333;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    height: 100vh;
  }

  .map-container {
    flex: 1;
  }

  .content {
    flex: 1;
    padding: 20px;
  }
}
