.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.mapContainer {
  flex: 1;
  height: 100%;
  width: 100%;
}
.content {
  flex: 1;
  padding: 10px;
  height: 100%;
}
.saveButton {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.saveButton:hover {
  background-color: #0056b3;
}

.downloadButton {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 0;
}
.downloadButton:hover {
  background-color: #0056b3;
}

.tableContainer {
  overflow: auto;
  height: 85%;
}

.dataTable {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  height: auto;
}

.dataTable th,
.dataTable td {
  padding: 10px;
  text-align: left;
}

.dataTable th {
  background-color: #f2f2f2;
}

.deleteButton {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.deleteButton i {
  margin-right: 5px;
}

.deleteButton:hover {
  background-color: #c82333;
}
.goButton {
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.goButton i {
  margin-right: 5px;
}

.goButton:hover {
  background-color: #c82333;
}
.centerButton {
  margin-left: 8px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .mapContainer {
    flex: 1;
    height: 50%;
  }

  .content {
    flex: 1;
    height: 50%;
  }
  .tableContainer {
    overflow: auto;
    height: 70%;
  }
}
