.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-wrap: wrap;
}

.mapContainer {
  flex: 1;
  height: 100%;
  width: 100%;
}
.content {
  flex: 1;
  padding: 10px;
  height: 100%;
}
.saveButton {
  background-color: #61677a;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.saveButton:hover {
  background-color: #d8d9da;
  color: black;
}

.downloadButton {
  background-color: #61677a;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 8;
  margin-top: 15px;
}
.downloadButton:hover {
  background-color: #d8d9da;
  color: black;
}
.positonContainer {
  display: flex;
  flex-direction: row;
  margin: 4px;

  align-items: center;
}
.positonText {
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
.positonButton {
  background-color: #61677a;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  margin: 4px;
  margin-left: 10px;
}

.positonButton:hover {
  background-color: #d8d9da;
  color: black;
}
.tableContainer {
  overflow: auto;
  height: 80%;
  max-height: 70vh;
}

.dataTable {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  height: auto;
  font-size: 14px;
}

.dataTable th,
.dataTable td {
  padding: 10px;
  text-align: left;
  font-size: 6;
}

.dataTable th {
  background-color: #f2f2f2;
}

.emptyTable {
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.dataTable th {
  background-color: #f2f2f2;
  .deleteButton:hover {
    background-color: #c82333;
  }
}

.deleteButton {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.deleteButton i {
  margin-right: 5px;
}

.deleteButton:hover {
  background-color: #c82333;
}
.goButton {
  background-color: #61677a;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
.goButton:hover {
  background-color: #d8d9da;
  color: black;
}
.getMyPositionButton i {
  margin-right: 5px;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .mapContainer {
    flex: 1;
    height: 50%;
    width: 100%;
  }

  .content {
    flex: 1;
    height: 50%;
    width: 100%;
  }
  .tableContainer {
    overflow: auto;
    height: 25%;
    max-height: 40vh;
    font-size: 12px;
  }
  .dataTable {
    font-size: 10px;
  }
}
